body{
    background-color: #e0d5df;
    font-family: 'Lato', sans-serif;
}
h1{
    color: #a59ba4;
   font-family: 'Sacramento', cursive;
    font-size: 4em;
    text-align: center;
       
}
ul{
    list-style: none;
    text-align: center;
    margin-right: 4%;

}
li{
    display: inline;
   margin:4%;
   
}
li a{
    color: white;
}
